<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ты Там{% endblock %}</title>
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/fontawesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">


    <style>
        .navbar{
            border-radius: 0;
        }
        .navbar-brand{
            font-family: Comic Sans MS, Comic Sans, cursive;
            font-size: 60px;
        }
        body{
            background: url("/music/static/music/images/fabrizio-conti-591303-unsplash.jpg");
        }

    </style>


</head>
<body>
    <!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'music:index' %}">Ты Там</a>

    <!-- ITEMS -->
  <div class="collapse navbar-collapse" id="topNavBar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'music:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'music:index' %}">Albums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Song</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Videos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 search-label-icon " type="submit">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </form>

      <ul class="nav navbar-nav align-right">
          <li class="">
              <a href="{% url 'music:album-add' %}">
                  <span class=""></span>&nbsp;Add Album
              </a>
              <a href="#">
                 <span class=""></span>&nbsp;Logout
              </a>
          </li>
      </ul>
  </div>
</nav>


    {% block body%}
    {% endblock %}
</body>
</html>




