<!DOCTYPE html>
<html lang="en">
<head>
    <title>Albums</title>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>




<ul>
{% if all_albums %}
    {% for album in all_albums %}
    <li><a href="/music/{{ album.id }}/">{{ album.album_title }}</a></li>
    {% endfor %}
{% else %}
    <h2>Hey. You do not have albums!</h2>\
{% endif %}
</ul>


</body>
</html>